.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 4px;
  background-color: #1a1a1a;
  position: relative;
  z-index: 2;
}

.headerLeft {
  display: flex;
  align-items: center;
  font-size: 28px;
left: 0;
}

.logo {
  font-weight: bold;
  color: white;
  font-size: 40px;
  margin-left: -20px;
}

.profileSection {
  display: flex;
  align-items: center;
}

.profileIcon {
  font-size: 36px;
  color: white;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.profileName {
  font-size: 18px;
  font-weight: bold;
}

.profileRole {
  font-size: 14px;
  color: gray;
}

.sidebar {
  width: 250px;
  background-color: #1a1a1a;
  height: calc(100vh - 80px);
  position: fixed;
  left: 0;
  top: 100px;
  z-index: 1;
  overflow-y: auto;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease;
}

.sidebarVisible {
  left: 0;
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav ul li {
  padding: 15px 20px;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav ul li:hover {
  background-color: #333;
}

.navIcon {
  margin-right: 10px;
  color: white;
}

.mainContent {
  margin-left: 250px;
  padding: 30px;
  flex-grow: 1;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-size: 16px;
  transition: margin-left 0.3s ease;
  width: 70%;
  height: 70%;
}

.sidebarVisible ~ .mainContent {
  margin-left: 250px;
}

.mainContent h1 {
  font-size: 28px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.icon {
  font-size: 40px;
  color: white;
  cursor: pointer;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.activeIcon {
  color: #4a90e2;
}

.menuIcon {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.barGraphContainer {
  margin-top: 20px;
  width: 100%;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
}

.chartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.metricIcons {
  display: flex;
  gap: 20px;
}

.icon {
  cursor: pointer;
  font-size: 24px;
}

.filterIcon {
  cursor: pointer;
  font-size: 24px;
  position: relative;
}

.filterDropdown {
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: #1a1a1a;
  border: 1px solid #444;
  border-radius: 4px;
  z-index: 10;
  padding: 10px 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.filterDropdown button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}

.filterDropdown button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.filterDropdown button.active {
  background-color: #4a4a4a;
}

.chart-container {
  max-width: 100px;
  max-height: 100px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #1a1a1a;
}

@media (max-width: 767px) {
  .sidebar {
    width: 200px;
    left: -200px;
    transition: left 0.3s ease-in-out;
    
  }

  .sidebarVisible {
    left: 0;
  }

  .mainContent {
    margin-left: 0;
    width: 100%;
  }

  .menuIcon {
    display: block;
    font-size: 20px;
    z-index: 1;
  }

  .mainContent {
    position: relative;
    z-index: 500;
  }
 
}

@media (max-width: 480px) {
  .sidebar {
    width: 100%;
    left: -100%;
    transition: left 0.3s ease-in-out;
    top: 80px;
  }

  .sidebarVisible {
    left: 0;
  }

  .mainContent {
    margin-left: 0;
    width: 100%;
  }

  .menuIcon {
    display: block;
    font-size: 20px;
    z-index: 1;
  }

  .mainContent {
    position: relative;
    z-index: 500;
  }
  .header {
    padding: 1px;
    margin-left: 5px;
    margin-right: 5px;
    
  }
}


@media (max-width: 400px) {
  .sidebar {
    width: 80%;
    left: -80%;
    transition: left 0.3s ease-in-out;
    top: 80px;
  }

  .sidebarVisible {
    left: 0;
  }

  .mainContent {
    margin-left: 0;
    /* width: 100%; */
  }

  .menuIcon {
    display: block;
    font-size: 20px;
    z-index: 1;
  }

  .mainContent {
    position: relative;
    z-index: 500;
    width:100%;
  }
  .metricIcons {
    display: flex;
    gap: 10px;
  }
  .logo {
    font-size: 30px;
    margin-left: -20px;
  }
  .header {
    padding: 1px;
    margin-left: 5px;
    margin-right: 5px;
    
  }
}

@media (max-width: 350px) {
  .sidebar {
    width: 60%;
    left: -60%;
    transition: left 0.3s ease-in-out;
    top: 80px;
  }

  .sidebarVisible {
    left: 0;
  }

  .mainContent {
    margin-left: 0;
    /* width: 100%; */
  }

  .menuIcon {
    display: block;
    font-size: 20px;
    z-index: 1;
  }

  .mainContent {
    position: relative;
    z-index: 500;
    width:100%;
  }
  .metricIcons {
    display: flex;
    gap: 7px;
  }
  .logo {
    font-size: 30px;
    margin-left: -25px;
  }
  .menuIcon {
    font-size: 20px;
    left: 0;
    }
  .header {
    padding: 1px;
    margin-left: 5px;
    margin-right: 5px; 
  }
}
/* components/ReportAnalysis.module.css */

/* Styling for the AppBar */
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 1rem;
  height: 160vh;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.chartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.chartRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
}

.pieChart {
  flex: 1;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.pie{
  color: #fff;
  /* text-align: center; */
  right:500px;
  /* align-items: center; */
  /* background-color: white; */
  width:150px;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: 0 auto;
  text-align: center;
  background-color: black;
  right:100px;
  border: none;
  color: white;
  margin-bottom: 50px;
  height: 1px;
}
/* Styling for the title in the AppBar */
.title {
  flex-grow: 1;
  font-size: 1.5rem;
  color: white;
}
/* components/ReportAnalysis.module.css */

/* ... existing styles ... */
.date{
text-align: center;
font-weight: bold;
font-size: 1rem;
color: white;
background: linear-gradient(to right, rgba(119, 6, 211, 1) 25%, rgba(243, 66, 235, 1) 100%);
font-family: Arial, Helvetica, sans-serif;
/* background-color: black; */
}
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.userList {
  margin-top: 2rem;
  text-align: center;
}

.userList ul {
  list-style: none;
  padding: 0;
}

.userList li {
  margin: 0.5rem 0;
}

/* Box containing user avatar and name */
.profileBox {
  display: flex;
  align-items: center;
}

/* Avatar styling */
.avatar {
  background-color: white;
  margin-right: 0.5rem;
}

/* User name styling */
.userName {
  color: white;
  font-size: 1.2rem;
}

/* Grid layout for the sections */
.sectionGrid {
  margin-top: 2rem;
  padding: 2rem;
  color:white;
}

.sectionTitle {
  text-align: center;
  font-weight: bold;
  height: 30px;
  width: 300px;
  font-size: 1.25rem;
  background: linear-gradient(to right, rgba(119, 6, 211, 1) 25%, rgba(243, 66, 235, 1) 100%);
  -webkit-background-clip: text; /* For Safari and Chrome */
  -moz-background-clip: text;    /* For Firefox (historically) */
  background-clip: text;         /* Standard property */
  -webkit-text-fill-color: transparent; 
  /* color:linear-gradient(to right, rgba(119, 6, 211, 1) 25%, rgba(243, 66, 235, 1) 100%); */
  /* background: linear-gradient(to right, rgba(119, 6, 211, 1) 25%, rgba(243, 66, 235, 1) 100%); */
  /* font-family: Arial, Helvetica, sans-serif; */
  background-color: black;
}

/* Pie chart container */
.chartContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;


}
.chartContained {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: white;

}

/* Styling for the title in the AppBar */
.title {
  flex-grow: 1;
  font-size: 1.5rem;
  color: white;
}

/* Button container styling */
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/* User list styling */
.userList {
  margin-top: 2rem;
  text-align: center;
  color: white; /* Ensure text color is visible on black background */
}

.userList ul {
  list-style: none;
  padding: 0;
}

.userList li {
  margin: 0.5rem 0;
}

/* Profile box styling */
.profileBox {
  display: flex;
  align-items: center;
}

/* Avatar styling */
.avatar {
  background-color: white;
  margin-right: 0.5rem;
}

/* User name styling */
.userName {
  color: white;
  font-size: 1.2rem;
}

/* Grid layout for sections */
.sectionGrid {
  margin-top: 2rem;
  padding: 2rem;
  color: white;
}

/* Section title styling */
.sectionTitle {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
}

/* Pie chart container styling */
.chartContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.buttonContainer {
  margin-bottom: 20px;
}

.buttonActive {
  background-color: #0088FE; /* Primary color */
}

.buttonInactive {
  background-color: #00C49F; /* Green color */
}

.buttonHold {
  background-color: #FF8042; /* Orange color */
}

.button {
  color: white;
  margin-left: 10px;
}