.page {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: black;
    padding: 2rem;
    height: 100vh;
  }
  
  .heading {
    color: white;
    margin-bottom: 1rem;
    font-family: Poppins;
  }
  
  .form {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Add some gap between the columns */
    font-family: Poppins;
  }
  
  .field {
    display: flex;
    flex-direction: column; /* Stack labels and inputs on smaller screens */
    justify-content: space-between;
    flex-basis: calc(50% - 1rem); /* Divide into two columns */
    font-family: Poppins;
  }
  
  .label {
    color: white;
    margin-bottom: 0.25rem; /* Slight margin below label */
    font-size: 0.9rem;
    font-family: Poppins;
  }
  
  .required {
    color: red;
  }
  

    .textFieldInput {
      background-color: #2A2D3C;
      /* height: 54px; */
      color: #fff; /* Text color for better contrast */
      width:366px;
      border-radius: 8px;
      border: 1px;
      font-family: Poppins;
    }

  
  .input{
    background-color: #2A2D3C; /* Set the background color */
    color: #fff; /* Text color for better contrast */
    padding: 0.25rem;
    display: flex;
    height: 50px;
    width:366px;
    border-radius: 8px;
    border: 1px;
    align-items: center;
    font-family: Poppins;
  }
  .input:focus {
    outline: none; /* Remove the default focus outline */
    box-shadow: 0 0 4px #2A2D3C; /* Optional: add a subtle shadow when focused */
  }
  .input:focus {
    height: 40px;
    width: 100%;
    border: none;
    padding: 0.25rem;
    font-size: 0.9rem;
    border-radius: 4px;
    font-family: Poppins;
  }
  
  .textField input {
    height: 40px;
    width: 100%;
    border: none;
    padding: 0.25rem;
    font-size: 0.9rem;
    background-color: rgba(128, 128, 128, 0.253);
    border-radius: 4px;
    font-family: Poppins;
  }
  
  .defaultDate {
    background-color: rgba(128, 128, 128, 0.253);
    padding: 0.25rem;
    display: flex;
    height: 40px;
    align-items: center;
    font-family: Poppins;
  }
  .submitButton {
    width: auto; /* Make the width auto to fit content */
    min-width: 60px;
    padding: 0.5rem 1rem; /* Adjust padding for a smaller appearance */
    background-color: #fff;
    font-size: 0.875rem; /* Smaller font size */
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: Poppins;
    display: block; /* Ensures the button behaves like a block element */
    margin: 0 auto
  }
  
  .submitButton:hover {
    opacity: 0.9;
  }
  
  .errorText {
    color: #f44336;
    margin-top: 4px;
    font-family: Poppins;
  }
  
  @media (max-width: 600px) {
    .field {
      flex-basis: 100%; /* Stack fields on smaller screens */
    }
  }