/* .container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 1rem;
    margin:'0 auto';
    height: 300vh;
  } */
  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #121212;
    color: white;
    overflow-y: hidden;
    font-family: 'Poppins', sans-serif;
  }
  .sidebar, .mainContent {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  /* Hide scrollbar for WebKit browsers (Chrome, Safari, etc.) */
  .sidebar::-webkit-scrollbar, .mainContent::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  .shapeIcon {
    position: absolute;
    /* top: -96px;
    left: 1096px; */
    top:-15px;
    right: -10px;
    z-index: 1;
    /* margin-top: -96px; */
    width: 200px;
    /* z-index: 10; */
    height: 400px;
    display: flex;
    object-fit: contain;
    }
    .shapeIcon1 {
      position: fixed; /* Change from absolute to fixed */
      bottom: 0; /* Position it at the bottom */
      left: 0; /* Align it to the left */
      z-index: 1;
      width: 200px;
      height: 618px;
      display: flex;
      object-fit: contain;
    }
  .mainContent {
    margin-left: 170px;
    padding: 30px;
    flex-grow: 1;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-size: 16px;
    transition: margin-left 0.3s ease;
    width: 81%;
    height: 70%;
    font-family: 'Poppins', sans-serif;
  }
  .sidebarVisible ~ .mainContent {
    margin-left: 250px;
  }
  
  .mainContent h1 {
    font-size: 28px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
  }
  .header {
    font-size: 24px;
    margin-bottom: 20px;
    color:#fff;
    margin: 0px auto;
  }
  
  .transactionList {
    list-style-type: none;
    padding: 0;
    margin: 0px auto;
  }
  .transactionHeader {
    display: flex;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #222020;
    border-radius: 8px;
    background-color: #222531;
    padding: 10px;
    color:#fff;
    width:70vw;
    margin: 0px auto;
  }
  .transactionHeaderItem {
    flex: 1;
    padding: 5px 10px;
  }
  .transactionItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #222020;
    border-radius: 8px;
    background-color: #222531;
    width:70vw;
    color:#fff;

  }
  
  .transactionItem span {
    display: block;
    font-size: 16px;
    width:70vw;
  }
  
  .transactionItem span:first-child {
    font-weight: bold;
  }
  