
  /* .container {
    padding: 16px;
    background-color: black;
    margin: '0 auto';
  } */
  
  .statisticsContainer {
    margin-bottom: 16px;
  }
  /* WalletManagement.module.css */
.pieChartContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 100%; /* Adjust as needed */
  /* background-color: white; */
}
  .page {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: black;
    padding: 1rem;
    margin:'0 auto';
    height: 100vh;
  }
  .statisticBox {
    padding: 16px;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    background-color:  rgba(128, 128, 128, 0.253);
    border-radius: 8px;
    color:white;
    font-family: Poppins;
  }
  
  .filterButtons {
    margin-bottom: 16px;
    align-items: flex-start;
    font-family: Poppins;
  }
  .button {
    /* background: linear-gradient(90deg, #007bff9f, #800080); */
    background: linear-gradient(to right, rgba(119, 6, 211, 1) 25%, rgba(243, 66, 235, 1) 100%);
    color: white;
    font-family: Poppins;
  }
  .filterButton {
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    margin-right: 8px;
    /* background: linear-gradient(90deg, #007bff9f, #800080); */
    background: linear-gradient(to right, rgba(119, 6, 211, 1) 25%, rgba(243, 66, 235, 1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
  }
/* Add this to hide the scrollbar for all browsers */
.tableContainer::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.tableContainer {
  background-color: rgba(128, 128, 128, 0.253);
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  color: white;
  font-family: Poppins;
  overflow-y: auto; /* Allow vertical scrolling */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.tableContainer::-webkit-scrollbar {
  width: 0;
  background: transparent; /* Optional: Hide scrollbar background */
}

.tableContainer::-webkit-scrollbar-thumb {
  background: transparent; /* Optional: Hide scrollbar thumb */
}
.loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  z-index: 2;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(53, 28, 28, 0.5);
}


.loader {
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, #ff007b, #007bff); 
  animation: spin 1s linear infinite;
  transform: rotate(45deg); 
  position: relative;
  z-index: 3;
  box-shadow: 0 0 20px rgba(255, 0, 123, 0.7), 0 0 20px rgba(0, 123, 255, 0.7); 
  border-radius: 12%; 
}


.loader::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: rgba(255, 0, 123, 0.3); 
  border-radius: 15%;
  animation: pulse 1.5s infinite ease-in-out;
  z-index: -1;
}


@keyframes spin {
  0% { transform: rotate(45deg); }
  100% { transform: rotate(405deg); }
}


@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
  .tableContainer {
    background-color:  rgba(128, 128, 128, 0.253);
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    color:white;
    font-family: Poppins;
    /* overflow-y: hidden; */
    /* width:1200px; */
  }
  .heading {
    color: white;
    margin-bottom: 1rem;
    font-family: Poppins;
  }
  /* AccountManage.module.css */
.tableCell {
    max-width: 150px; /* Set your desired width */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:white;
    padding: 10px 16px; /* Add padding for spacing within the cell */
    border: none; /* Remove cell borders */
    align-items: center;
    margin-bottom: 10px;
    font-family: Poppins;
  }
  
  .tableRow {
    background-color:  rgba(128, 128, 128, 0.253);
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    color:white;
    border-radius: 4px;
    background-color: transparent; /* Ensure the background is transparent */
    border: none;
    margin-bottom: 10px;
    font-family: Poppins;
    
  }
  .tableRow + .tableRow  + .tableRow {
    margin-top: 10px; /* Space between rows */
    margin-bottom: 10px;
  }

  
  .profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .userInfo {
    display: flex;
    flex-direction: column;
  }
  
  .statusActive {
    color: green;
  }
  
  .statusHold {
    color: red;
  }
  
  .actionButton {
    /* background-color: #1976d2; */
    /* background: linear-gradient(90deg, #007bff9f, #800080); */
    background: linear-gradient(to right, rgba(119, 6, 211, 1) 25%, rgba(243, 66, 235, 1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    text-transform: none;
    font-size: 14px;
    font-family: Poppins;
  }
  
  .actionButton:hover {
    /* background-color: #1565c0; */
    /* background: linear-gradient(90deg, #007bff9f, #800080); */
    background: linear-gradient(to right, rgba(119, 6, 211, 1) 25%, rgba(243, 66, 235, 1) 100%);
    font-family: Arial, Helvetica, sans-serif;
  }
  /* Add this CSS for the View Details link */
.viewDetailsLink {
    /* color: rgb(12, 12, 129); Set the link color to blue */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Optional: make it bold */
    transition: color 0.3s; /* Add a smooth transition for hover effect */
    font-family: Poppins;
  }
  
  .viewDetailsLink:hover {
    color: rgb(19, 19, 167); /*Change color on hover*/
  }
  .tableHeaderCell {
    font-weight: bold; /* Make the text bold */
  }
  .statusActive {
    color: green;
    font-weight: bold;
  }
  
  .statusInactive {
    color: red;
    font-weight: bold;
  }
  
  .statusHold {
    color: orange;
    font-weight: bold;
  }
  /* Filter dropdown */
.filterDropdown {
    width: 140px;
    height: 40px;
    /* background: linear-gradient(90deg, #007bff9f, #800080); */
    background: linear-gradient(to right, rgba(119, 6, 211, 1) 25%, rgba(243, 66, 235, 1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-family: Poppins;
    border-radius: 5px;
    /* height:10px; */

  }
  .profilePlaceholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: darkgray;
    display: flex;
    align-items: center;
    font-family: Poppins;
    justify-content: center;
  }
  
  .initial {
    color: white;
    font-weight: bold;
    font-family: Poppins;
  }
  .header {
    color: white;
    margin-bottom: 1rem;
    text-align: right;
    display: flex;
    justify-content: end;
    position: relative;
    left: 490px;
    font-family: Poppins;
  }
  .currency{
    color: white;
    margin-bottom: 1rem;
    text-align: right;
    display: flex;
    justify-content: end;
    position: relative;
    left: 430px;
    font-family: Poppins;
  }
  .heading {
    color: white;
    margin-bottom: 1rem;
    font-family: Poppins;
  }